.testCss {
  :global {
    .ant-divider-horizontal.ant-divider-with-text:before,
    .ant-divider-horizontal.ant-divider-with-text-left:before,
    .ant-divider-horizontal.ant-divider-with-text-right:before,
    .ant-divider-horizontal.ant-divider-with-text:after,
    .ant-divider-horizontal.ant-divider-with-text-left:after,
    .ant-divider-horizontal.ant-divider-with-text-right:after {
      border-top: 1px solid #fff;
    }
  }
  margin: 0 auto;
}

.stepCss {
  :global {
    .ant-upload-hint {
      color: red;
    }
  }
  text-align: center;
}

.stepTwoCss {
  :global {
    .ant-list-vertical .ant-list-item-content {
      margin: 0 0 5px 0;
    }
    .ant-list-vertical .ant-list-item-meta {
      margin-bottom: 0;
    }
    .ant-list-vertical .ant-list-item-meta-avatar {
      display: block;
    }
  }
  background: #fff;
  padding: 0 18px;
  margin-top: 30px;
}

.stepThreeCss {
  margin-top: 30px;
}
