.testCss {
  margin: 0 auto;
  .textRight {
    text-align: right;
    font-weight: 600;
  }
  .textLeft {
    text-align: left;
  }
  .sliderMargin {
    width: 80%;
    margin: 0 auto;
    height: 50px;
  }
}
